.orderBlock {
    display: flex;
    justify-content: center;
    align-items: center;
}

.orderBlock__card {
    width: 500px;
    margin: 50px auto;
    overflow: auto;
    word-wrap: break-word;
}

.orderBlock__card-fields {
    display: flex;
    flex-direction: column;
    align-items: start;
}
