.userProfile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.userProfile__card {
    width: 500px;
    margin: 50px auto;
}

.userProfile__form-fields {
    padding: 16px;
}

.userProfile__fields {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.userProfile__button_editing {
    background: black;
    font-weight: bold;
    margin: 10px 0;
    color: white;
}

.userProfile__button_logout {
    width: 45.6px;
    background: black;
    color: white;
    margin-left: 50px;
}
