.cardDish {
    width: 400px;
    box-shadow: 1px 2px 4px gray;
    border-radius: 10%;
    height: auto;
}

.cardDish__image {
    width: 400px;
    border-radius: 10%;
    height: 270px;
    cursor: pointer;
}

.cardDish__name {
    text-align: center;
    font-weight: 600;
}

.card__container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
}

.cardDish__price {
    font-size: 17px;
    font-weight: 700;
    color: mediumvioletred;
}

.cardDish__useButton {
    font-size: 17px;
    color: black;
    text-transform: uppercase;
}

.cardDish__useButton:hover {
}
