.forgotPassword {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.forgotPassword-h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.forgotPassword__form-content {
    width: 100%;
}

.ant-form-item-explain-error {
    color: #ff4d4f;
}

.forgotPassword__button-container {
    display: flex;
    justify-content: center;
}

.forgotPassword__button {
    background-color: #1890ff;
    border-color: #1890ff;
    color: #fff;
}

.forgotPassword__button:hover {
    background-color: #40a9ff;
    border-color: #40a9ff;
    color: #fff;
}
