.resetPassword {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    align-content: center;
}

.resetPassword-h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.resetPassword__success-message {
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
}

.resetPassword__form-content {
    text-align: left;
}

.resetPassword__button {
    width: 100%;
    background-color: #1890ff;
    border-color: #1890ff;
    color: #fff;
}

.resetPassword__button:hover {
    background-color: #40a9ff;
    border-color: #40a9ff;
    color: #fff;
}

.resetPassword__link a:hover {
    color: #40a9ff;
}
